
.gap-6 {
    grid-gap: 10rem !important;
    gap: 10rem !important;
}
.gap-10 {
    grid-gap: 5rem !important;
    gap: 5rem !important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}


.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 5rem !important;
    margin-left: 0rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}